<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? '☑' : '☐' %> <%= link_to task.title, task_path(task) %> 
      <%= link_to "x", task_path(task), method: :delete, data: {confirm: "Detete #{task.title}?"} %>
    </li>
  <% end %>
</ul>

<h4><%= link_to "+ add a new task", tasks_new_path %></h4>